@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Caesar Dressing';
  background-image: url('./assets/bg.jpeg');
  background-position: center;
  backdrop-filter: brightness(50%) blur(5px);
}